@import url('/fonts/pretendard/pretendard-subset.css');
@import url('/fonts/newsreader/newsreader.css');
@import url('/fonts/rubik/rubik.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ec-title {
	@apply text-2xl font-medium;
}

.ec-body,
.ec-header,
.ec-day,
.ec-days {
	@apply border-primary-500 border;
}

code {
	counter-reset: line;
}

code > [data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
	width: 3rem;
}

.ec {
	--ec-text-color: theme('colors.primary.50');
	--ec-border-color: theme('colors.primary.50');
	--ec-accent-color: theme('colors.primary.50');

	/* Buttons */
	--ec-button-bg-color: theme('colors.primary.900');
	--ec-button-border-color: theme('colors.primary.600');
	--ec-button-text-color: theme('colors.primary.100');
	--ec-button-active-bg-color: theme('colors.primary.700');
	--ec-button-active-border-color: theme('colors.primary.700');
	--ec-button-active-text-color: theme('colors.primary.50') /* Events */ --ec-event-bg-color:
		#039be5;
	--ec-event-text-color: theme('colors.primary.50');
	--ec-bg-event-color: var(--ec-color-500);
	--ec-bg-event-opacity: 0.3;

	/* Days */
	--ec-list-day-bg-color: var(--ec-bg-color, var(--ec-bg-fallback-color));
	--ec-today-bg-color: theme('colors.primary.800');
	--ec-highlight-color: theme('colors.primary.50');

	/* Popup */
	--ec-popup-bg-color: var(--ec-bg-color, var(--ec-bg-fallback-color));

	/* Now Indicator */
	--ec-now-indicator-color: theme('colors.primary.500');
}
